SQLALCHEMY_DATABASE_URI = "postgresql://monuser:monpassachanger@localhost:5432/istsos"
SERVICE = 'ecrins'
SECRET_KEY = "supersecretkey"
URL_APPLICATION = "http://istsosimport.local:8002/"
LOCALE = "fr_FR.UTF-8"
OIDC_AUTHENT = false
OIDC_FILTER_GROUP = []
OIDC_FILTER_VALUES = "user_group"

[CELERY]
    broker_url = "redis://localhost:6379/0"
    result_backend = "redis://localhost:6379/0"

[MAIL_CONFIG]
    MAIL_SERVER = 'my_server.org'
    MAIL_PORT = 465
    MAIL_USE_TLS = false
    MAIL_USE_SSL = true
    MAIL_USERNAME = 'email_adresse@email.fr'
    MAIL_PASSWORD = 'pass'
    MAIL_ASCII_ATTACHMENTS = false
    MAIL_DEFAULT_SENDER = '<noreply>@email.fr'

[DATA_QI]
    INVALID_QI = 0
    DEFAULT_QI = 100
    VALID_PROPERTY_QI = 200
    VALID_STATION_QI = 210
