flask
SQLAlchemy
flask-sqlalchemy
flask-login
Marshmallow
flask-marshmallow
marshmallow-sqlalchemy
python-dotenv
toml
psycopg2
psycopg2-binary
celery[redis]==4.4.7
flask-mail
flask-migrate
flask-admin
gunicorn
isodate
importlib-metadata==4.13.0;python_version < '3.8'
flask-wtf
itsdangerous = "<2.1"
flask-oidc==1.4.0