<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <link rel="stylesheet" href={{url_for("static", filename="node_modules/bootswatch/dist/simplex/bootstrap.min.css")}} />
    <link rel="stylesheet" href={{url_for("static", filename="node_modules/bootstrap-icons/font/bootstrap-icons.css")}} />
    <link rel="stylesheet" href={{url_for("static", filename="css/main.css")}} />
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>{% block title %}istSOS-import{% endblock %}</title>
    {% endblock %}
</head>
<body>
      <nav id="app-nav" class="navbar navbar-expand-lg navbar-dark bg-dark mb-2" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#admin-navbar-collapse"
                aria-controls="admin-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- navbar content -->
        <div class="collapse navbar-collapse" id="admin-navbar-collapse">
            <a class="navbar-brand" href="{{url_for('import.edit_view')}} ">istSOS-import</a>
        </div>
        <li>
            <a href="/auth/logout">Logout</a>
        </li>
    </nav>
    <div id="content-wrapper" class="container">
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div id="footer">
        {% block footer %}
        {% endblock %}
    </div>

    {% block scripts %}
    <script src="{{url_for("static", filename="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js")}}"> </script>
    {% endblock %}
</body>
</html>
