{% extends "base.html" %}
{% block head %}
{{ super() }}

{% endblock %}
{% block content %}
<h1> File import </h1>
<div id="app" class="row">
   Hello test : ${test}
   <form action = "upload" method = "POST" 
      enctype = "multipart/form-data">
      <div class="mb-3">
         <label for="service" class="form-label">Service</label>
         <select class="form-select" name="procedure" id="proc" >
            {% for service in services %}
               <option value="{{service}}"> {{service}} </option>
            {% endfor %}
         </select>
      </div>
      <div class="mb-3">
         <label for="procedure" class="form-label">Procedure</label>
         <select class="form-select" name="procedure" id="proc" >
               <option value=""> A remplir </option>
         </select>
      </div>
      <div class="mb-3">
         <input class="form-control" type = "file" name = "file" />
      </div>
      <div class="mb-3">
         <label for="separator">File separator</label>
         <select class="form-select mb-3" name="separator" id="séparateur" >
               <option value=";"> ;</option>
               <option value=","> ,</option>
               <option value="\t"> tab</option>
         </select>
      </div>
      <div class="mb-3">
         <label for="mail_recipient">Mail (for import report)</label>
         <input class="form-control" type="text" name="mail_recipient">
      </div>
      <button type="submit" class="btn btn-primary">
         Upload
      </button>


   </form>  
</div>

<script type="module" src="{{url_for("static", filename='js/import.js')}}"></script>
{% endblock %}

