<p>
    Import of procedure {{import_dict.procedure.name_prc}} is finished.

    It successfully import {{nb_row_inserted}}/{{nb_row_total}} row(s) ({{nb_nan}} nan values)
</p>
<p>

    <a href=" {{url_for('import.details_view', id=import_dict.id_import)}}  "> Go to the import summary  </a>
    {% if error_message %} 
    <p>
        Some rows are in error... <br>
        Number of errors : {{error_message|length}} <br>  
    </p>
    <h5> Error trace : </h5>
    <small>
        <ul>    
            {% for m in error_message %}
            <li>
                {{m|safe}}
            </li>
            {% endfor %}
        </ul>
    </small>
    {% endif %}


</p>