<p>
    Import of procedure {{import_dict.procedure.name_prc}} is finished.

    It successfully import {{import_dict.nb_row_inserted}}/{{import_dict.nb_row_total}} row(s)
</p>
<p>

    {% if error_message %} 
    <p>
        Some rows are in error... <br>
        Number of errors : {{error_message|length}} <br>

        You can download the data in error  
        <a href="{{file_error|safe}}"> here  </a>
    </p>
    <h5> Error trace : </h5>
    <small>
        <ul>    
            {% for m in error_message %}
            <li>
                {{m|safe}}
            </li>
            {% endfor %}
        </ul>
    </small>
    {% endif %}


</p>