{% extends 'base.html' %}
{% block content %}
<div class="mb-5 w-50 mx-auto">
    <h1 >Fields mapping</h1>
    <h3 >Procedure : {{procedure.name_prc}}</h3>
</div>
    
    <form action="{{url_for('main.load', service=g.service, id_import=id_import)}}" method="POST" >
    {% if missing_cols %}
    <div class="alert alert-danger">
        The procedure have some observed properties not found with the given mapping : 
        <ul>
        {% for col in missing_cols %} 
            <li> {{col}} </li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-3"><h3> Observed properties</h3> </div>
        <div class="col-8"> <h3> File columns</h3> </div>
        <hr>
    </div>
    <div class="row">
        <div class="mb-3 col-3">
            Date
        </div>
        <div class="mb-3 col-8">
            <select class="form-select" name="urn:ogc:def:parameter:x-istsos:1.0:time:iso8601" required>
                <option value="nSull"> --</option>
                {% for name in in_columns_name %}
                <option value="{{name}}"> {{name}} </option>
                {% endfor %}
            </select>        
        </div>
    </div>
       {% for proc_obs in procedure.proc_obs%}
        <div class="row">
            <div class="mb-3 col-3">
                {{proc_obs.observed_property.name_opr}}
            </div>
            <div class="mb-3 col-8">
                <select class="form-select" name="{{proc_obs.observed_property.def_opr}}" required>
                    <option value="null"> --</option>
                    {% for name in in_columns_name %}
                    <option value="{{name}}"> {{name}} </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% endfor %}

        <button class="btn btn-success" type="submit" class="btn btn-primary ">
            Send data
         </button>
   </form>  
{% endblock %}
