{% extends "base.html" %}
{% block content %}
<h1> File import </h1>
<div id="app" class="row">
   <form action="upload" method = "POST" 
      enctype = "multipart/form-data">
      <div class="mb-3">
         <label for="service" class="form-label">Service</label>
      </div>
      <div class="mb-3">
         <label for="id_prc" class="form-label">Procedure</label>
         <select class="form-select" name="id_prc" id="proc" required>
               {% for procedure in procedures %}
                  <option value="{{procedure.id_prc}}"> {{procedure.name_prc}} </option>
               {% endfor %}
         </select>
      </div>
      <div class="mb-3">
         <input class="form-control" type = "file" name = "file" required/>
      </div>
      <div class="mb-3">
         <label for="delimiter">File separator</label>
         <select class="form-select mb-3" name="delimiter" id="séparateur" >
               <option value=";"> ;</option>
               <option value=","> ,</option>
               <option value="\t"> tab</option>
         </select>
      </div>
      <div class="mb-3">
         <label for="email">Mail (for import report)</label>
         <input class="form-control" type="text" name="email" required>
      </div>
      <button type="submit" class="btn btn-primary">
         Upload
      </button>


   </form>  
</div>

<!-- <script type="module" src="{{url_for("static", filename='js/import.js')}}"></script> -->
{% endblock %}

